/* components/layout.module.css */

.footer {
	padding: 1rem 0;
	background-color: #f1f1f1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
}

.subnavLeft,
.subnavRight {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 30%; /* Adjust width as needed for balance */
}

.subnavCenter {
	text-align: center;
	flex-grow: 1; /* Allow the center to take remaining space */
}

.subnavLeft span,
.subnavRight span {
	margin: 0 0.5rem;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}
.subnavCenter p {
	margin: 0;
}
.subnavRight {
	justify-content: flex-end;
}
.icon {
	font-size: 1.5rem; /* Adjust size as needed */
	color: inherit;
}
