.container {
	max-width: 44rem;
	padding: 2rem 1rem;
	margin: 3rem auto 6rem;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer img {
	margin-left: 0.5rem;
}
.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: inherit;
}
