.card-img-top {
}
.postContainer {
  padding-bottom: 2em;
}
.heroImage {
  display: flex;
  text-align: center;
  justify-self: center;
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 270vh;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.heroImageContainer {
  position: relative;
  text-align: center;
  color: white;
  height: 80vh;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.headerText {
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px;
}

.authorDate {
  font-weight: 300;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  .heroImageContainer {
    height: 30vh;
    overflow: hidden;
  }
  .headerText {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 10px;
    padding: 10px;
  }
}
