@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html,
body {
	padding: 0;
	margin: 0;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif;
	line-height: 1.6;
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

a {
	/* color: #0070f3; */
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}
.icon {
	font-family: "MaterialIcons";
	font-size: 1.5rem; /* Adjust size as needed */
}
.card-img-top {
	height: 150px;
	border: 4px solid green;
}
.navbar-fixed-top {
	top: 0;
	/* border-width: 0 0 1px; */
	position: fixed;
	right: 0;
	left: 0;
	z-index: 999999;
}
.app-primary,
.app-primary a {
	color: #fff000 !important;
}
.app-secondary,
.app-secondary a {
	color: #1f1f1f !important;
}
.app-primary-bg {
	background-color: #fff000 !important;
}
.app-secondary-bg {
	background-color: #1f1f1f !important;
}
.header-bg {
	background-color: #ffee58;
	opacity: 1;
	background: repeating-linear-gradient(
		45deg,
		#1f1f1f,
		#1f1f1f 8.5px,
		#fcf150 8.5px,
		#fcf150 42.5px
	);

	/* background-color: #1f1f1f;
	opacity: 1; */

	/* background: repeating-linear-gradient(
		45deg,
		#fff000,
		#fff000 5px,
		#1f1f1f 5px,
		#1f1f1f 25px
	); */
}
.header-text {
	color: #1f1f1f;
	background-color: #fcf150 !important;
	border: 1px solid #1f1f1f;
	border-radius: 10px;
	/* background-color: #1f1f1f;
	color: #fff000; */
}
